# Predictive Data Analytics

In this notebook we will build an ML model and evaluate results

In [10]:
from pyspark.sql import SparkSession

# Add here your team number teamx
team = "team15"

# location of your Hive database in HDFS
warehouse = "project/hive/warehouse"

spark = SparkSession.builder\
        .appName("{} - spark ML".format(team))\
        .config("hive.metastore.uris", "thrift://hadoop-02.uni.innopolis.ru:9883")\
        .config("spark.sql.warehouse.dir", warehouse)\
        .config("spark.sql.avro.compression.codec", "snappy")\
        .enableHiveSupport()\
        .getOrCreate()

#We can also add
# .config("spark.sql.catalogImplementation","hive")\ 
# But this is the default configuration
# You can switch to Spark Catalog by setting "in-memory" for "spark.sql.catalogImplementation"

In [21]:
spark.sql("SHOW DATABASES").show()

+--------------------+
|           namespace|
+--------------------+
|             default|
|             root_db|
|     team0_projectdb|
|team12_hive_proje...|
|    team13_projectdb|
|    team14_projectdb|
|    team15_projectdb|
|    team16_projectdb|
|    team18_projectdb|
|    team19_projectdb|
|     team1_projectdb|
|    team20_projectdb|
|    team21_projectdb|
|    team23_projectdb|
|    team25_projectdb|
|    team26_projectdb|
|    team28_projectdb|
|     team2_projectdb|
|    team30_projectdb|
|     team7_projectdb|
+--------------------+
only showing top 20 rows

In [22]:
spark.sql("USE team15_projectdb").show()

++
||
++
++

In [23]:
spark.sql("SHOW TABLES").show()

+----------------+--------------------+-----------+
|       namespace|           tableName|isTemporary|
+----------------+--------------------+-----------+
|team15_projectdb|     car_description|      false|
|team15_projectdb|car_vehicles_ext_...|      false|
|team15_projectdb|          q1_results|      false|
+----------------+--------------------+-----------+

In [24]:
spark.sql("SELECT * FROM team15_projectdb.car_vehicles_ext_part_bucket").show()

+----------+--------------------+-----+-----------------+------------+--------------------+-------------+-----------+------+--------+------------+---------+-----------+-----------+-----------+------------------+------------------+--------+
|  entry_id|          region_url|price|manufactured_year|manufacturer|               model|car_condition|  cylinders|  fuel|odometer|transmission|car_drive|   car_size|   car_type|paint_color|          latitude|         longitude|us_state|
+----------+--------------------+-----+-----------------+------------+--------------------+-------------+-----------+------+--------+------------+---------+-----------+-----------+-----------+------------------+------------------+--------+
|7314059073|stlouis.craigslis...| 2000|             2010|      toyota|               prius|         good|4 cylinders|hybrid|  278000|   automatic|      fwd|sub-compact|  hatchback|       blue| 39.93219757080078|-91.41007995605469|      mo|
|7301939553|stjoseph.craigsli...| 1000|             2003|    chrysler|town & country li...|         fair|6 cylinders|   gas|  264000|   automatic|      rwd|  full-size|   mini-van|     custom| 40.06613540649414|-93.53622436523438|      mo|
|7302055505|stjoseph.craigsli...|19390|             2013|         ram|                1500|         good|8 cylinders|   gas|  129705|   automatic|      rwd|  full-size|      truck|      white|39.234920501708984|-94.57671356201172|      mo|
|7303914756|stjoseph.craigsli...|16990|             2010|    cadillac|        escalade esv|         good|8 cylinders|   gas|  157280|   automatic|      4wd|  full-size|        SUV|     silver|39.234920501708984|-94.57671356201172|      mo|
|7304288420|stjoseph.craigsli...|    0|             2007|      saturn|                 ion|    excellent|4 cylinders|   gas|  101326|   automatic|      fwd|    compact|      sedan|     yellow|39.754661560058594|-94.80377197265625|      mo|
|7304646652|stjoseph.craigsli...|    0|             2011|         gmc|              acadia|    excellent|6 cylinders|   gas|  149283|   automatic|      4wd|  full-size|        SUV|        red|39.754661560058594|-94.80377197265625|      mo|
|7306276036|stjoseph.craigsli...|14900|             2007|   chevrolet|      silverado 1500|    excellent|8 cylinders|   gas|  146000|   automatic|      4wd|  full-size|      truck|        red|36.695499420166016|-93.11499786376953|      mo|
|7307316494|stjoseph.craigsli...|    0|             2008|        ford|                edge|    excellent|6 cylinders|   gas|  153642|   automatic|      fwd|   mid-size|        SUV|      black|39.754661560058594|-94.80377197265625|      mo|
|7310644746|stjoseph.craigsli...|31990|             2016|         ram|                1500|         good|8 cylinders|   gas|  105206|   automatic|      4wd|  full-size|      truck|      black|39.234920501708984|-94.57671356201172|      mo|
|7311842174|stjoseph.craigsli...|    0|             2016|   chevrolet|               tahoe|    excellent|8 cylinders|   gas|  119752|   automatic|      4wd|  full-size|        SUV|        red|39.754661560058594|-94.80377197265625|      mo|
|7314631944|stjoseph.craigsli...| 7500|             2002|         ram|                1500|         good|8 cylinders|   gas|  130000|   automatic|      4wd|  full-size|      truck|       blue| 39.78030014038086|-94.10240173339844|      mo|
|7314775824|stjoseph.craigsli...|32500|             2015|        ford|               f-550|         good|8 cylinders|diesel|  138000|   automatic|      4wd|  full-size|      truck|      white|  39.7823486328125| -95.0030746459961|      mo|
|7303610476|springfield.craig...|17997|             2016|        ford|               f-150|    excellent|6 cylinders|   gas|   77193|   automatic|      rwd|  full-size|      truck|      black|37.063636779785156|-93.55713653564453|      mo|
|7304167244|springfield.craig...|12350|             2009|   chevrolet|               tahoe|    excellent|8 cylinders|   gas|  179000|   automatic|      4wd|  full-size|        SUV|      white| 37.00348663330078|-93.19918823242188|      mo|
|7304222710|springfield.craig...| 9500|             2007|        ford|          sport trac|    excellent|6 cylinders|   gas|  184000|   automatic|      4wd|   mid-size|      truck|      white| 36.61069869995117|-93.22859954833984|      mo|
|7306779098|springfield.craig...|24800|             2017|    infiniti|                qx60|         good|6 cylinders|   gas|   82123|   automatic|      4wd|  full-size|        SUV|      black| 36.64483642578125|-93.21800994873047|      mo|
|7306986693|springfield.craig...| 3500|             1989|        ford|                f350|         fair|8 cylinders|diesel|   70000|      manual|      4wd|  full-size|      truck|      white|  36.3223991394043|-93.40589904785156|      mo|
|7307208542|springfield.craig...|17400|             2000|   chevrolet|            corvette|         good|8 cylinders|   gas|   77927|      manual|      rwd|  full-size|convertible|     yellow| 37.88783264160156|-94.00468444824219|      mo|
|7307500575|springfield.craig...| 7499|             2013|      nissan|             rogue s|    excellent|4 cylinders|   gas|  109000|   automatic|      fwd|  full-size|        SUV|       grey| 37.21499252319336|-93.29573059082031|      mo|
|7307773309|springfield.craig...|  600|             2007|        ford|               focus|    excellent|4 cylinders|   gas|  166430|   automatic|      fwd|   mid-size|      sedan|       blue|  36.6609992980957|-93.23580169677734|      mo|
+----------+--------------------+-----+-----------------+------------+--------------------+-------------+-----------+------+--------+------------+---------+-----------+-----------+-----------+------------------+------------------+--------+
only showing top 20 rows

In [25]:
print(*spark.catalog.listDatabases(), sep='\n')

Database(name='default', description='Default Hive database', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/apps/hive/warehouse')
Database(name='root_db', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/root/root_db')
Database(name='team0_projectdb', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/team0/project/hive/warehouse')
Database(name='team12_hive_projectdb', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/team12/project/hive/warehouse')
Database(name='team13_projectdb', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/team13/project/hive/warehouse')
Database(name='team14_projectdb', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/team14/project/hive/warehouse')
Database(name='team15_projectdb', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/team15/project/hive/warehouse')
Database(name='team16_projectdb', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/team16/project/hive/warehouse')
Database(name='team18_projectdb', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/team18/project/hive/warehouse')
Database(name='team19_projectdb', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/team19/project/hive/warehouse')
Database(name='team1_projectdb', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/team1/project/hive/warehouse')
Database(name='team20_projectdb', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/team20/project/hive/warehouse')
Database(name='team21_projectdb', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/team21/project/hive/warehouse')
Database(name='team23_projectdb', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/team23/project/hive/warehouse')
Database(name='team25_projectdb', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/team25/project/hive/warehouse')
Database(name='team26_projectdb', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/team26/project/hive/warehouse')
Database(name='team28_projectdb', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/team28/project/hive/warehouse')
Database(name='team2_projectdb', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/team2/project/hive/warehouse')
Database(name='team30_projectdb', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/team30/project/hive/warehouse')
Database(name='team7_projectdb', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/team7/project/hive/warehouse')
Database(name='team8_projectdb', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/team8/project/hive/warehouse')
Database(name='team9_projectdb', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/team9/project/hive/warehouse')
Database(name='testdb', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/apps/hive/warehouse/testdb.db')
Database(name='testdb2', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/team0/project/hive/warehouse2')

In [26]:
print(*spark.catalog.listTables("team15_projectdb"), sep='\n')

ERROR! Session/line number was not unique in database. History logging moved to new session 7
Table(name='car_description', database='team15_projectdb', description=None, tableType='EXTERNAL', isTemporary=False)
Table(name='car_vehicles_ext_part_bucket', database='team15_projectdb', description=None, tableType='EXTERNAL', isTemporary=False)
Table(name='q1_results', database='team15_projectdb', description=None, tableType='EXTERNAL', isTemporary=False)