# Predictive Data Analytics

In this notebook we will build an ML model and evaluate results

In [34]:
from pyspark.sql import SparkSession

# Add here your team number teamx
team = "team15"

# location of your Hive database in HDFS
warehouse = "project/hive/warehouse"

spark = SparkSession.builder\
        .appName("{} - spark ML".format(team))\
        .config("hive.metastore.uris", "thrift://hadoop-02.uni.innopolis.ru:9883")\
        .config("spark.sql.warehouse.dir", warehouse)\
        .config("spark.sql.avro.compression.codec", "snappy")\
        .enableHiveSupport()\
        .getOrCreate()

#We can also add
# .config("spark.sql.catalogImplementation","hive")\ 
# But this is the default configuration
# You can switch to Spark Catalog by setting "in-memory" for "spark.sql.catalogImplementation"

In [35]:
spark.sql("SHOW DATABASES").show()

+--------------------+
|           namespace|
+--------------------+
|             default|
|             root_db|
|     team0_projectdb|
|team12_hive_proje...|
|    team13_projectdb|
|    team14_projectdb|
|    team15_projectdb|
|    team16_projectdb|
|    team18_projectdb|
|    team19_projectdb|
|     team1_projectdb|
|    team20_projectdb|
|    team21_projectdb|
|    team23_projectdb|
|    team25_projectdb|
|    team26_projectdb|
|    team28_projectdb|
|     team2_projectdb|
|    team30_projectdb|
|     team7_projectdb|
+--------------------+
only showing top 20 rows

In [36]:
spark.sql("USE team15_projectdb").show()

++
||
++
++

In [37]:
spark.sql("SHOW TABLES").show()

+----------------+--------------------+-----------+
|       namespace|           tableName|isTemporary|
+----------------+--------------------+-----------+
|team15_projectdb|     car_description|      false|
|team15_projectdb|car_vehicles_ext_...|      false|
|team15_projectdb|          q1_results|      false|
|team15_projectdb|          q2_results|      false|
|team15_projectdb|          q3_results|      false|
+----------------+--------------------+-----------+

In [38]:
spark.sql("SELECT * FROM team15_projectdb.car_vehicles_ext_part_bucket").show()

+----------+--------------------+-----+-----------------+-------------+--------------------+-------------+-----------+------+--------+------------+---------+---------+---------+-----------+------------------+-------------------+--------+
|  entry_id|          region_url|price|manufactured_year| manufacturer|               model|car_condition|  cylinders|  fuel|odometer|transmission|car_drive| car_size| car_type|paint_color|          latitude|          longitude|us_state|
+----------+--------------------+-----+-----------------+-------------+--------------------+-------------+-----------+------+--------+------------+---------+---------+---------+-----------+------------------+-------------------+--------+
|7303328786|wyoming.craigslis...|23995|             2013|       toyota|              tundra|         good|8 cylinders|   gas|  114215|   automatic|      4wd|full-size|    truck|      black|44.354923248291016|-106.68038177490234|      wy|
|7303328988|wyoming.craigslis...|54995|             2020|mercedes-benz|           gle-class|         good|4 cylinders|   gas|   14426|   automatic|      4wd|full-size|      SUV|      black|44.354923248291016|-106.68038177490234|      wy|
|7303328972|wyoming.craigslis...|41995|             2017|     infiniti|                qx80|         good|8 cylinders|   gas|   63994|   automatic|      4wd|full-size|      SUV|     custom|44.354923248291016|-106.68038177490234|      wy|
|7303847825|wyoming.craigslis...| 9995|             2015|    chevrolet|      impala limited|     like new|6 cylinders|   gas|   91039|   automatic|      fwd| mid-size|    sedan|       grey| 45.78129959106445|-108.57270050048828|      wy|
|7305333755|wyoming.craigslis...| 5500|             2000|         ford|     f250 super duty|         fair|8 cylinders|diesel|  195000|   automatic|      4wd|full-size|   pickup|        red|  44.7849006652832|-106.96479797363281|      wy|
|7306237556|wyoming.craigslis...|25000|             2011|          gmc|       sierra 2500hd|    excellent|8 cylinders|diesel|  182000|   automatic|      4wd|full-size|    truck|      black|43.928199768066406|-105.54920196533203|      wy|
|7306333284|wyoming.craigslis...| 5200|             2005|       subaru|              legacy|         good|4 cylinders|   gas|  172511|   automatic|      4wd| mid-size|    sedan|       blue|41.143699645996094|-104.79620361328125|      wy|
|7306689761|wyoming.craigslis...|22999|             2015|    chevrolet|      silverado 2500|    excellent|8 cylinders|   gas|  179667|   automatic|      4wd|full-size|   pickup|     silver|41.138282775878906|-104.78479766845703|      wy|
|7307059015|wyoming.craigslis...| 4200|             2001|       toyota|             sequoia|         fair|8 cylinders|   gas|  287000|   automatic|      4wd|full-size|      SUV|      white| 43.90439987182617|-108.06099700927734|      wy|
|7309961831|wyoming.craigslis...|    0|             2016|       toyota|     4runner trd pro|    excellent|6 cylinders|   gas|   45286|   automatic|      4wd|full-size|      SUV|      brown|45.082420349121094|   -94.334716796875|      wy|
|7311011984|wyoming.craigslis...|65085|             2021|    chevrolet|3500hd double cab...|          new|8 cylinders|diesel|      20|   automatic|      4wd|full-size|    truck|      white| 42.71780014038086| -114.5011978149414|      wy|
|7311074010|wyoming.craigslis...|32495|             2016|       toyota|          tundra 4x4|     like new|8 cylinders|   gas|  101920|   automatic|      4wd|full-size|    truck|      brown| 45.78129959106445|-108.57270050048828|      wy|
|7311074998|wyoming.craigslis...|24995|             2014|         jeep|wrangler unlimite...|     like new|6 cylinders|   gas|  112480|   automatic|      4wd|full-size|  offroad|      black| 45.78129959106445|-108.57270050048828|      wy|
|7311077017|wyoming.craigslis...|31995|             2014|         ford|f350 diesel power...|     like new|8 cylinders|diesel|  138238|   automatic|      4wd|full-size|    truck|      white| 45.78129959106445|-108.57270050048828|      wy|
|7311078031|wyoming.craigslis...|26995|             2014|         ford|f150 lariat super...|     like new|6 cylinders|   gas|  159165|   automatic|      4wd|full-size|    truck|       blue| 45.78129959106445|-108.57270050048828|      wy|
|7311084947|wyoming.craigslis...| 9995|             2015|    chevrolet|      impala limited|     like new|6 cylinders|   gas|   91039|   automatic|      fwd| mid-size|    sedan|       grey| 45.78129959106445|-108.57270050048828|      wy|
|7311085720|wyoming.craigslis...|24995|             2013|    chevrolet|silverado 3500hd 4x4|     like new|8 cylinders|   gas|  157192|   automatic|      4wd|full-size|    truck|      white| 45.78129959106445|-108.57270050048828|      wy|
|7313002471|wyoming.craigslis...| 7995|             2000|         ford|             mustang|     like new|6 cylinders|   gas|   97000|      manual|      rwd|full-size|    coupe|        red|41.143699645996094|-104.79620361328125|      wy|
|7314103079|wyoming.craigslis...| 4400|             1982|   volkswagen|              rabbit|         good|4 cylinders|diesel|  162000|      manual|      fwd|full-size|hatchback|        red| 41.42470169067383|-105.47810363769531|      wy|
|7316661615|wyoming.craigslis...|15000|             2000|       toyota|          tacoma sr5|    excellent|4 cylinders|   gas|  265000|      manual|      4wd| mid-size|    truck|      green|41.174781799316406|-104.82852172851562|      wy|
+----------+--------------------+-----+-----------------+-------------+--------------------+-------------+-----------+------+--------+------------+---------+---------+---------+-----------+------------------+-------------------+--------+
only showing top 20 rows

In [39]:
print(*spark.catalog.listDatabases(), sep='\n')

Database(name='default', description='Default Hive database', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/apps/hive/warehouse')
Database(name='root_db', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/root/root_db')
Database(name='team0_projectdb', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/team0/project/hive/warehouse')
Database(name='team12_hive_projectdb', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/team12/project/hive/warehouse')
Database(name='team13_projectdb', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/team13/project/hive/warehouse')
Database(name='team14_projectdb', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/team14/project/hive/warehouse')
Database(name='team15_projectdb', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/team15/project/hive/warehouse')
Database(name='team16_projectdb', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/team16/project/hive/warehouse')
Database(name='team18_projectdb', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/team18/project/hive/warehouse')
Database(name='team19_projectdb', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/team19/project/hive/warehouse')
Database(name='team1_projectdb', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/team1/project/hive/warehouse')
Database(name='team20_projectdb', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/team20/project/hive/warehouse')
Database(name='team21_projectdb', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/team21/project/hive/warehouse')
Database(name='team23_projectdb', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/team23/project/hive/warehouse')
Database(name='team25_projectdb', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/team25/project/hive/warehouse')
Database(name='team26_projectdb', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/team26/project/hive/warehouse')
Database(name='team28_projectdb', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/team28/project/hive/warehouse')
Database(name='team2_projectdb', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/team2/project/hive/warehouse')
Database(name='team30_projectdb', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/team30/project/hive/warehouse')
Database(name='team7_projectdb', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/team7/project/hive/warehouse')
Database(name='team8_projectdb', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/team8/project/hive/warehouse')
Database(name='team9_projectdb', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/team9/project/hive/warehouse')
Database(name='testdb', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/apps/hive/warehouse/testdb.db')
Database(name='testdb2', description='', locationUri='hdfs://hadoop-02.uni.innopolis.ru:8020/user/team0/project/hive/warehouse2')

In [40]:
print(*spark.catalog.listTables("team15_projectdb"), sep='\n')

Table(name='car_description', database='team15_projectdb', description=None, tableType='EXTERNAL', isTemporary=False)
Table(name='car_vehicles_ext_part_bucket', database='team15_projectdb', description=None, tableType='EXTERNAL', isTemporary=False)
Table(name='q1_results', database='team15_projectdb', description=None, tableType='EXTERNAL', isTemporary=False)
Table(name='q2_results', database='team15_projectdb', description=None, tableType='EXTERNAL', isTemporary=False)
Table(name='q3_results', database='team15_projectdb', description=None, tableType='EXTERNAL', isTemporary=False)

In [41]:
cars = spark.read.format("avro").table('team15_projectdb.car_vehicles_ext_part_bucket')

In [42]:
cars.printSchema()

root
 |-- entry_id: long (nullable = true)
 |-- region_url: string (nullable = true)
 |-- price: long (nullable = true)
 |-- manufactured_year: integer (nullable = true)
 |-- manufacturer: string (nullable = true)
 |-- model: string (nullable = true)
 |-- car_condition: string (nullable = true)
 |-- cylinders: string (nullable = true)
 |-- fuel: string (nullable = true)
 |-- odometer: integer (nullable = true)
 |-- transmission: string (nullable = true)
 |-- car_drive: string (nullable = true)
 |-- car_size: string (nullable = true)
 |-- car_type: string (nullable = true)
 |-- paint_color: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- us_state: string (nullable = true)

In [46]:
lat_long = spark.sql("SELECT region_url, latitude, longitude FROM team15_projectdb.car_vehicles_ext_part_bucket").collect()

In [49]:
lat_long[:10]

[Row(region_url='honolulu.craigslist.org', latitude=20.88819122314453, longitude=-156.45892333984375),
 Row(region_url='honolulu.craigslist.org', latitude=20.888132095336914, longitude=-156.45892333984375),
 Row(region_url='honolulu.craigslist.org', latitude=20.888141632080078, longitude=-156.45887756347656),
 Row(region_url='honolulu.craigslist.org', latitude=20.881399154663086, longitude=-156.47830200195312),
 Row(region_url='honolulu.craigslist.org', latitude=21.329500198364258, longitude=-157.8614959716797),
 Row(region_url='honolulu.craigslist.org', latitude=21.329500198364258, longitude=-157.8614959716797),
 Row(region_url='honolulu.craigslist.org', latitude=21.329500198364258, longitude=-157.8614959716797),
 Row(region_url='honolulu.craigslist.org', latitude=21.317899703979492, longitude=-157.8520965576172),
 Row(region_url='honolulu.craigslist.org', latitude=21.281099319458008, longitude=-157.82659912109375),
 Row(region_url='honolulu.craigslist.org', latitude=21.299800872802734, longitude=-157.84390258789062)]

In [62]:
from pyspark import keyword_only
from pyspark.ml import Transformer
from pyspark.ml.param.shared import HasInputCols, HasOutputCols, Param, Params, TypeConverters
import pyproj


class LatLongToECEF(Transformer, HasInputCols, HasOutputCols):
    @keyword_only
    def __init__(self, inputCols=None, outputCols=None):
        super(LatLongToECEF, self).__init__()
        self.pyproj_transformer = pyproj.Transformer.from_crs(
            {"proj": "latlong", "ellps": "WGS84", "datum": "WGS84"},
            {"proj": "geocent", "ellps": "WGS84", "datum": "WGS84"}
        )

    @keyword_only
    def setParams(self, inputCols=None, outputCols=None):
        kwargs = self.setParams._input_kwargs
        return self._set(**kwargs)


    def _transform(self, dataset):
        out_col = self.getOutputCol()
        in_col = dataset[self.getInputCol()]
        
        print(in_col)
        print(out_col)

#         # Define transformer logic
#         def f(vector):
#             return self.pyproj_transformer.transform(vector[0], vector[1], 0, radians=False)

#         return dataset.withColumn(out_col, udf(lambda x: f(x), t)(in_col))

    # Required in Spark >= 3.0
    def setInputCol(self, value):
        """
        Sets the value of :py:attr:`inputCol`.
        """
        return self._set(inputCol=value)

    # Required in Spark >= 3.0
    def setOutputCol(self, value):
        """
        Sets the value of :py:attr:`outputCol`.
        """
        return self._set(outputCol=value)

In [ ]:
pair_assembler = VectorAssembler(inputCols=["col1", "col2"], outputCol="cols_vector")